
*.v2
*.dll
teams/padawan-2020-maringa/csharp/hello-world/.vs/HelloWorld/v16/.suo
*.testlog
*.manifest
teams/padawan-2020-maringa/csharp/hello-world/bin/Debug/netcoreapp3.0/HelloWorld.deps.json
*.pdb
teams/padawan-2020-maringa/csharp/hello-world/bin/Debug/netcoreapp3.0/HelloWorld.runtimeconfig.dev.json
teams/padawan-2020-maringa/csharp/hello-world/bin/Debug/netcoreapp3.0/HelloWorld.runtimeconfig.json
*.exe
teams/padawan-2020-maringa/csharp/hello-world/obj/Debug/netcoreapp3.0/.NETCoreApp,Version=v3.0.AssemblyAttributes.cs
teams/padawan-2020-maringa/csharp/hello-world/obj/Debug/netcoreapp3.0/HelloWorld.AssemblyInfo.cs
*.cache
*.CopyComplete
*.txt
teams/padawan-2020-maringa/csharp/hello-world/obj/HelloWorld.csproj.nuget.dgspec.json
*.props
*.targets
teams/padawan-2020-maringa/csharp/hello-world/obj/project.assets.json
teams/padawan-2020-maringa/csharp/two-fer/.editorconfig
teams/padawan-2020-maringa/csharp/two-fer/.exercism/metadata.json
teams/padawan-2020-maringa/csharp/two-fer/.vs/TwoFer/v16/.suo
teams/padawan-2020-maringa/csharp/two-fer/obj/Debug/netcoreapp3.0/.NETCoreApp,Version=v3.0.AssemblyAttributes.cs
teams/padawan-2020-maringa/csharp/two-fer/obj/Debug/netcoreapp3.0/TwoFer.AssemblyInfo.cs
teams/padawan-2020-maringa/csharp/two-fer/obj/project.assets.json
teams/padawan-2020-maringa/csharp/two-fer/obj/TwoFer.csproj.nuget.dgspec.json
